<div class="logo" *ngIf="isMobileView">
  <img src="../assets/images/logo.png" alt="logo" class="logo-img">
</div>
<div class="container">
  <div class="info">
    <h1 class="title">
      Want to win a free burger?&#127828;<br>
      Spin the wheel!&#127920;
    </h1>
    <app-spinner   [width]="500"
                   [height]="500"
                   [spinningID]="spinningID"
                   [spinDuration]=8
                   [items]='items | async'
                   [innerRadius]='20'
                   [spinAmount]='10'
                   [textOrientation]='textOrientation'
                   [textAlignment]='textAlignment'
                   pointerStrokeColor='black'
                   pointerFillColor='gold'
                   [idToLandOn]='idToLandOn'
                   (onSpinStart)='before()'
                   (onSpinComplete)='after()'
                   *ngIf="isMobileView"
    ></app-spinner>
    <h3>
      Tell us who you are so we can send <br>
      you your gift!&#128071;
    </h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="info-form">
      <input type="text" class="form-input" formControlName="firstName" placeholder="First Name">
      <input type="text" class="form-input" formControlName="email" placeholder="Email">
      <button type="submit" class="submit-btn" [disabled]="!form.valid">
        Spin the wheel
      </button>
    </form>
  </div>
  <div class="wheel" *ngIf="!isMobileView">
    <img src="../assets/images/logo.png" alt="logo" class="logo-img">
    <app-spinner   [width]=400
                   [height]=400
                   [spinningID]="spinningID"
                   [spinDuration]=8
                   [items]='items | async'
                   [innerRadius]='20'
                   [spinAmount]='10'
                   [textOrientation]='textOrientation'
                   [textAlignment]='textAlignment'
                   pointerStrokeColor='black'
                   pointerFillColor='gold'
                   [idToLandOn]='idToLandOn'
                   (onSpinStart)='before()'
                   (onSpinComplete)='after()'
    ></app-spinner>
  </div>
</div>
